*{
  background-color: rgb(34, 40, 49);
}
.App {
  text-align: center;
  background-color: rgb(34, 40, 49);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.input, input, textarea {
  background-color :rgb(49, 54, 63);
}
h2{
  background-color: rgb(0, 173, 181);
}